.contato{
    background-color: var(--branco);
    padding: 1rem;
}

.contato__titulo, 
.contato__texto{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.contato__titulo{
    color: var(--azul-escuro);
    fonta-size: 1.125rem;
    font-weight: 500;
    
}

.contato__texto{
    font-weight: 300;
    margin: 1rem 0;
    
}

.contato__email{
    padding: 1rem;
    border: 1px solid var(--azul-escuro);
    border-radius: 2rem;
    width: 80%;
    color: var(--azul-escuro);
    
}

.contato__email::placeholder{
    font-family: var(--fonte-principal);
    color: var(--azul-escuro);
    background: url('../img/Email.svg') no-repeat;
    background-position: 1rem center;
    padding-left: 2.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    
    
}

@media screen and (min-width: 1024px){
    .contato{
        display:flex;
        justify-content: center;
        alin-items: center;
    }
    .contato__titulo{
        font-size: 1.5rem;
    }

    .contato__descricao{
        margin-right: 1rem;
        
    }
    .contato__email{
        width: 30%;
    }
}


@media screen and (min-width: 1728px){
    .contato{
        padding: 3rem 20vw;
        
    }

    .
}
